.container {
  position: relative;
  display: flex;
  max-height: 100%;
}

.container form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
  padding: 1rem;
}
.container form span {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container form span.header {
  font-size: 1.7rem;
  padding: 0.5rem;
}

.container form span.body {
  justify-content: space-between;
}
.container form span.inputBox {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: calc(90% / 2);
  padding: 1rem;
}
.container form span.inputBox span {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  justify-content: space-evenly;
}

.container form span.inputBox > input {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.container form span.footer {
  gap: 2rem;
  padding: 1rem;
  padding-right: 4rem;
  justify-content: flex-end;
}
.container form span.footer button {
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 700px) {
  .container form span.body {
    justify-content: center;
  }

  .container form span.header {
    font-size: 1.3rem;
  }
  .container form span.inputBox {
    width: calc(80%);
  }
  .container form span.inputBox {
    padding: 0.5rem;
  }
  .container form span.inputBox > input {
    padding: 0.1rem 0.5rem;
  }
}
